p {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    cursor: pointer;
}

li.level-1 {
    position: relative;
    padding-left: 0;
}

li.level-2 {
    position: relative;
    padding-left: 30px;
}

li.level-3 {
    position: relative;
    padding-left: 30px;
}

.arrow {
    position: absolute;
    top: 6px;
    left: 10px;
}

.content {
    display: none;
}

.content.show {
    display: block;
}