p {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    cursor: pointer;
}

li.level {
    position: relative;
    padding-left: 30px;
}

.arrow {
    position: absolute;
    top: 20px;
    left: 0;
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: #ccc;
}

.content {
    display: none;
}

.content.show {
    display: block;
}